#header {
    padding: 8.75rem 0 7rem 0;
    text-align: center;
    background: url(../images/pattern-circles.svg) no-repeat center top 60%;
}

#header>.title {
    font-weight: 800;
    font-size: 2rem;
    color: hsl(227, 35%, 25%);
}

#header>.introduction {
    margin-top: 1rem;
    font-size: 1.3rem;
}

#header>.introduction>p:first-child {
    margin-bottom: .5rem;
}