.slider {
    width: 90%;
    height: 0.5em;
    background-color: hsl(224, 65%, 95%);
    position: relative;
    border-radius: 1em;
    margin: 2.5em 0;
}

.slider > .progress{
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    background-color: hsl(174, 77%, 80%);
}

.slider-handle {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/icon-slider.svg) no-repeat center/50%,
    hsl(174, 86%, 45%);
    box-shadow: 0 10px 20px 2.5px hsl(174, 77%, 80%);
}