@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

body {
    background: hsl(230, 100%, 99%);
    font-family: 'Manrope', sans-serif;
}

h1 {
    font-size: 1.5em;
}

#content {
    margin: auto;
    background: url(../images/bg-pattern.svg) top;
}

#header {
    padding: 5.5em 1.5em;
    text-align: center;
    background: url(../images/pattern-circles.svg) no-repeat center/45%;
}

#header>h1 {
    font-weight: 800;
}

#pricing {
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-flow: column wrap;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0px 10px 10px  hsl(0, 0%, 80%);
}