@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import url('./header.css');
@import url('./pricing-panel.css');
@import url('./slider.css');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 15px;
    font-weight: 600;
    color: hsl(225, 20%, 60%);
}

body {
    background: hsl(230, 100%, 99%);
    font-family: 'Manrope', sans-serif;
}

#content {
    margin: auto;
    background: url(../images/bg-pattern.svg) top;
}